<footer class="group">
    
    
    <div class="wrap">
    	<div class="footerbox">
    		<h4>KLANTENSERVICE</h4>
    		<a href="#" class="">Contact</a>
    		<a href="#" class="">Veelgestelde</a>
    		<a href="#" class="">Aanbiedingen &amp; Acties</a>
    		<a href="#" class="">Garantie</a>
    		<a href="#" class="">Serviceformulier</a>
    		<a href="#" class="">Retouren</a>
    	</div>
	    <div class="footerbox">
       		<h4>OVER ONS</h4>
    		<a href="#" class="">Pharmaskincare</a>
    		<a href="#" class="">Anouska Wink</a>
    		<a href="#" class="">Kwaliteit</a>
    		<a href="#" class="">Visie</a>
    		<a href="#" class="">Pers</a>
	    </div>
	    <div class="footerbox">
    		<h4>COLLECTIE</h4>
    		<a href="#" class="">Anti Age</a>
    		<a href="#" class="">Pigmentatie</a>
    		<a href="#" class="">Vette Huid</a>
    		<a href="#" class="">Gecombineerde huid</a>
    		<a href="#" class="">Droge huid</a>
    		<a href="#" class="">Gevoelige huid</a>
    		<a href="#" class="">Capilares/Rosacea</a>    		
    	</div>
	    <div class="footerbox">
      		<h4>CATALOGUS</h4>
    		<a href="#" class="">Onze gehele collectie rustig op uw gemak doorbladeren?</a>
    		<a href="#" class="">Download dan hier gratis brochure van Pharma Skincare 2014.</a>
  			<img src="" />
	    </div>
	</div>
    <div th:remove="all">
        <!--
            Include this template at the bottom of a page (automatically included by partials/footer.html
            to gain access to jQuery and other plugins used throughout the site.
            
            We will attempt to load the jQuery library from Google's CDN, but fallback on our own provided
            jQuery if necessary.
            
            Other than this jQuery loading script, no other scripts should be defined inline.
        -->
    </div>
    
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script th:inline="text">
        //<![CDATA[
        window.jQuery || document.write('<script src="[[@{/js/admin/lib/jquery-1.7.2.min.js}]]"><\/script>');
        //]]>
    </script>
    
    <blc:bundle name="lib.js" 
                mapping-prefix="/js/"
                files="plugins.js,
                       libs/jquery.MetaData.js,
                       libs/jquery.rating.pack.js,
                       libs/jquery.dotdotdot-1.5.1.js" />
    
    <blc:bundle name="heatclinic.js" 
                mapping-prefix="/js/"
                files="BLC.js,
                       heatClinic.js,
                       cartOperations.js,
                       checkoutOperations.js,
                       globalOnReady.js,
                       manageAccountOperations.js,
                       reviewOperations.js" />

</footer>
