<header>
	<div class="top_black">
		
		<div class="top_content">
			<div class="social_icons">
				<a href=""><img th:src="@{/img/socialicons/facebook.png}" alt="facebook" /></a>
				<a href=""><img th:src="@{/img/socialicons/pinterest.png}" alt="pinterest" /></a>
				<a href=""><img th:src="@{/img/socialicons/twitter.png}" alt="twitter" /></a>
				<a href=""><img th:src="@{/img/socialicons/instagram.png}" alt="instagram" /></a>
			</div>
			
			<div class="float_right" id="cart_info">
	            <div th:if="${customer.anonymous}"  th:remove="tag">
	                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp;
	                <span>Bel ons op 020-9876543</span>
					&nbsp;|&nbsp;&nbsp;&nbsp; 
	                <a class="account bold" th:href="@{/login}">
	                    <span th:text="#{home.login}">Sign In</span>
	                </a>
	                &nbsp;&nbsp;&nbsp;|&nbsp;&nbsp;&nbsp; 
	                <a class="account bold" th:href="@{/register}">
	                    <span th:text="#{home.register}">Sign Up</span>
	                </a>
	                &nbsp;&nbsp;&nbsp;|
	            </div>
	            
	            <div th:unless="${customer.anonymous}" th:remove="tag">
	                <span><span th:text="#{home.welcome}">Welcome</span>, <a class="my-account" th:href="@{/account}" th:text="${customer.firstName}"></a></span>
	                &nbsp;|&nbsp; 
	                <a th:href="@{/logout}">
	                    <span th:text="#{home.logout}">Logout</span>
	                </a>
	                &nbsp;|&nbsp; 
	            </div>
	
	
	<!--             <a id="cartLink" class="fancycart" th:href="@{/cart}"> -->
	<!--                 <img th:src="@{/img/shopping_cart.png}" alt="Shopping Cart Icon" /> -->
	<!--                 &nbsp;  -->
	<!--                 <span class="headerCartItemsCount" th:text="${cart.itemCount}" /> -->
	<!--                 <span class="headerCartItemsCountWord" th:text="${cart.itemCount == 1} ? #{home.item} :  #{home.items}" /> -->
	<!--             </a> -->
	
	        </div>
		
		
		</div>
	</div>
	
	<script type="text/javascript">
		var tmp = true;
		function searchButton(){
			if(tmp){
				$('#search').show("slide");
				tmp=false;
			}
			else{
				$('#search').hide("slide");
				tmp=true;
			}
		};
	</script>
	
    <div id="header_content">


    	<div class="cart_vl float_right">
    		<span class="bold font_black">SHOPPINGBAG:&nbsp;</span>
            <span class="headerCartItemsCount bold" th:text="${cart.itemCount}" ></span>
            &nbsp; 
    		 <a id="cartLink" class="fancycart circle_border" th:href="@{/cart}">
                <img th:src="@{/img/cart_icon.png}" alt="Shopping Cart" />
            </a>
            &nbsp;&nbsp;
	    	<a id="searchIcon" class="circle_border" onclick="searchButton()" >
	    		<img th:src="@{/img/search_icon.png}" alt="Search" />
	    	</a>
	    	
	    	<div class="newRow">&nbsp;</div>
	    	
	    	<div id="search" class="float_right">
	            <blc:form th:action="@{/search}" method="GET">
	            <input type="search" class="search" name="q" th:value="${originalQuery}" />
	            <input type="submit" style="display:none;" id="search_button" value="go" />
	            </blc:form>
	        </div>
    	</div>
    


<!--         <div id="languages"> -->
<!--             <span id="selectedLocale" th:text="${session.blLocale.localeCode}" style="display: none" /> -->

<!--             <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'en_US')"> -->
<!--                 <img id="en_US" src="img/flags/United-States.png" th:src="@{/img/flags/United-States.png}" alt="United States" title="English" /> -->
<!--             </a> -->

<!--             <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'en_GB')"> -->
<!--                 <img id="en_GB" src="img/flags/United-Kingdom.png" th:src="@{/img/flags/United-Kingdom.png}" alt="United Kingdom" title="English (UK)"/> -->
<!--             </a> -->

<!--             <a  href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'es_MX')"> -->
<!--                 <img id="es_MX" src="img/flags/Mexico.png" th:src="@{/img/flags/Mexico.png}" alt="Mexico" title="Spanish (Mexico)"/> -->
<!--             </a> -->

<!--             <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'es_ES')"> -->
<!--                 <img id="es_ES" src="img/flags/Mexico.png" th:src="@{/img/flags/Spain.png}" alt="Spain" title="Spanish (Spain)"/> -->
<!--             </a> -->
<!--             <a href="javascript:;" onclick="BLC.addUrlParam(document.location.search, 'blLocaleCode', 'fr_FR')"> -->
<!--                 <img id="fr_FR" src="img/flags/Mexico.png" th:src="@{/img/flags/France.png}" alt="France" title="French (France)" /> -->
<!--             </a> -->
<!--         </div> -->

        <div id="logo"><h1><a th:href="@{/}">Pharmaskincare Home</a></h1></div>
        

	</div>
</header>