
<nav>   
    <div th:remove="all">
        <!--
             This template displays the navigation of the site by looking up the category named "Nav"
             and building a list of the categories sub-categories.                          
        -->
    </div>
    
	<!--     ovde treba da mu stavis selektor po klasa, a ne po tag -->
    <ol class="topMenu">
        <li>
            <a  href="/">Home</a>
        </li>
        <li>
            <a href="/hot-sauces">Pharmaskincare</a>
        </li>
        <li>
            <a href="/merchandise">Over ons</a>
        </li>
        <li>
            <a href="/clearance">Pers</a>
        </li>
        <li>
            <a href="/new-to-hot-sauce">Editor's pick</a>
        </li>
        <li>
            <a href="/faq">Blog</a>
        </li>
        <li>
            <a href="/faq">Contact</a>
        </li>
        <li>
            <a href="/faq">Voor specialisten</a>
        </li>
    </ol>
    
    <div class="newRow">&nbsp;</div>
    
    <!--     ovde treba da mu stavis selektor po klasa, a ne po tag -->
    <blc:categories resultVar="navCategories" parentCategory="Primary Nav" maxResults="7" />
    
    <ul>
        <li th:each="category : ${navCategories}">
            <a class="home" th:href="@{${category.url}}" th:class="${categoryStat.first}? 'home'" th:text="${category.name}"></a>
        </li>
    </ul>
</nav>